<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
        <script src="{{ url_for('static', filename='reader.js') }}"></script>
        <link rel="stylesheet" href="../../static/main.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <title>Article 2</title>
</head>
<body>
    <!--Include the navbar manually (not with Flask) because article2.html is inside a deeper folder-->
    <div class="navbar">
        <div class="left" style="margin: 20px;">
          <img class="logo" src="../../static/images/logo.png">
          <a class="left" style="padding-left: 10px" href="../homepage.html">CU CogSci Club</a>          
        </div>
        <div class="right">
            <a class="right" href="../eboard.html" style="margin-right: 10px">Meet the Team</a>
            <a class="right" href="../articles.html">Articles</a>
        </div>   
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <h1 class="title hoverable">Learning a new language makes it harder to remember previously learned foreign languages</h1>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <h2 class="subtitle hoverable"><i> Vladimir Hedrih<br>Publication Date: April 1, 2024</i></h2>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <img src="https://resources.finalsite.net/images/v1624649770/ahschool/o1zk7zt9d3rgpgaqg8vu/foreign-language-study_1.jpg" alt="Collection of cutouts on a corkboard with the word Hello in different languages." style="margin-left: 60px; margin-top: 30px; width: 600px;">
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            A study conducted in the Netherlands discovered that learning new vocabulary in a foreign language can impede the recall of words from another, previously learned foreign language. The research found that native Dutch speakers who learned Spanish translations for English words they already knew experienced more difficulty in recalling those English words later. The paper was published in the Quarterly Journal of Experimental Psychology.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Most people had an experience when learning some new information made it difficult for them to recall information they previously learned. This phenomenon is called retroactive inhibition. Retroactive inhibition works by interfering with the memory consolidation process. When new information is learned, it can disrupt the stabilization and integration of previously learned information into long-term memory.
        </p>
    </div>   

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            This disruption occurs because the brain has limited resources for processing and storing information, and the new information competes with the old for these resources. As a result, the recall of the earlier information becomes more difficult, leading to a decrease in memory performance for that information.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Studies have shown that knowledge of different foreign languages compete with each other. Due to this, when, for example, a person speaking multiple foreign languages wants to recall a word for a specific object, it often happens that a word in a different language comes to the person’s mind. In some cases, the person might not be able to recall the word in the desired language at all, particularly, if the person has not been using the language for a long time.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Study author Anne Mickan and her colleagues wanted to investigate if, and under which circumstances, new language learning hampers access to previously learned and well-consolidated foreign language words. They conducted two experiments.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            In the first experiment, 31 native Dutch speakers, all of whom had English as their second language and no prior knowledge of Spanish, participated. Initially, they completed a vocabulary test to confirm their familiarity with certain English words. They then learned Spanish translations for half of these English words, potentially creating interference with their memory of the English words. Subsequently, the researchers evaluated how quickly and accurately the participants could recall the English words.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The second experiment involved 86 native Dutch speakers who had not participated in the first experiment. All reported English as their primary and most frequently used foreign language and had no knowledge of Spanish. This experiment replicated the first, with the addition that the initial English vocabulary test was conducted one day before the participants learned Spanish words.
        </p>
    </div>
        
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Following the Spanish language session, the participants were divided into two groups: one took the second English test the same day, while the other took it a day later, allowing researchers to assess the impact of overnight knowledge consolidation. An additional test evaluated the participants’ acquisition of Spanish words.
        </p>
    </div>       
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            In the second experiment, the researchers observed interference effects affecting both the accuracy and speed of recalling English words. Participants were more accurate and faster in recalling English words for which they had not learned Spanish translations.
        </p>
    </div>
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Notably, the group that had an extra day to consolidate their Spanish learning showed a greater difference in recall accuracy and experienced a more pronounced acceleration in their responses on the English vocabulary test, especially for words without Spanish translations.
        </p>
    </div>
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            “This study provides the first empirical evidence of the detrimental effects that learning words from a new language can have on remembering words from previously learned foreign languages,” the study authors concluded.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            “Multilinguals are thus not wrong in their perception that adding a language to their repertoire will, at least during the first stages of learning the new language, hamper access to other foreign languages, even when those languages were learned a long time ago and to a high level of proficiency. Our results, furthermore, suggest that these effects emerge immediately, and do not critically depend on consolidation time for the newly learned language words.”
        </p>
    </div>  
        
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The study sheds light on how retroactive inhibition affects language learning. However, it should be noted that the study was done on just a selection of words that were learned for the first time and temporally very close to the time of learning. Long-term effects of learning new languages might not be the same.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The paper, “New in, old out: Does learning a new language make you forget previously learned foreign languages?”, was authored by Anne Mickan, Ekaterina Slesareva, James M. McQueen, and Kristin Lemhöfer.
        </p>
    </div>

    <!--Buttons for going back to homepage and next article-->
    <div class="row">
        <div class="col-md-6">
            <button class="back-to-home-button" onclick="window.location.href='../articles.html'">Back to Articles Homepage</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="next-article-button" onclick="window.location.href='/articles/3'">Next Article</button>
        </div>
    </div>

    <!--Include the footer using Flask-->
    {% include 'footer.html' %} 

</body>
</html>
