<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
        <script src="{{ url_for('static', filename='reader.js') }}"></script>
        <link rel="stylesheet" href="../../static/main.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <title>Article 3</title>
</head>
<body>
   <!--Include the navbar manually (not with Flask) because article3.html is inside a deeper folder-->
   <div class="navbar">
        <div class="left" style="margin: 20px;">
        <img class="logo" src="../../static/images/logo.png">
        <a class="left" style="padding-left: 10px" href="../homepage.html">CU CogSci Club</a>          
        </div>
        <div class="right">
            <a class="right" href="../eboard.html" style="margin-right: 10px">Meet the Team</a>
            <a class="right" href="../articles.html">Articles</a>
        </div>   
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <h1 class="title hoverable">What is the Autonomous Sensory Meridian Response? ASMR phenomenon detailed in new systematic review</h1>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <h2 class="subtitle hoverable"><i>Eric W. Dolan<br>Publication Date: April 1, 2024</i></h2>
    </div>

    <div class="image-container">
        <button class="playButton">&#9658;</button>
        <img src="https://www.verywellmind.com/thmb/xJMqzmMYa0SOTFPKK26hMwvKmyg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1164645550-7e491f801ee7430f82337c853780eb4d.jpg" alt="Woman brushing a makeup brush over a grey professional microphone." style="margin-left: 30px; width: 600px; margin-top: 30px">
    </div>
    
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            In recent years, the phenomenon of Autonomous Sensory Meridian Response (ASMR) has captured the interest of many, becoming a popular means of relaxation and sleep aid for individuals around the world. A new comprehensive review of scientific literature sheds light on ASMR, revealing it as a clearly defined phenomenon that elicits a consistent experience. The paper was recently published in the journal Psychology of Consciousness: Theory Research and Practice.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            ASMR refers to the experience of a tingling sensation that typically begins on the scalp and moves down the back of the neck and upper spine, in response to various auditory, visual, and tactile stimuli. Despite its growing popularity on platforms like YouTube and TikTok, with some videos garnering millions of views, scientific exploration of ASMR has been relatively sparse.
        </p>
    </div>   

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Previous reviews have touched on the phenomenon, but Tobias Lohaus of Ruhr University Bochum and his colleagues aimed to provide a more structured and comprehensive analysis, using stringent criteria and methodologies to assess the existing body of research systematically.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The research team embarked on a meticulous selection process, screening articles from databases such as PubMed, SCOPUS, and Web of Science. They established specific inclusion criteria, focusing on studies that directly addressed ASMR, were based on original empirical investigations, and were published in English in scientific journals. Through this process, the team distilled the vast body of literature down to 54 studies that met their stringent criteria.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            A key finding of the review is the consensus on the definition of ASMR. It is characterized as a tingling sensation that typically begins on the scalp and moves down to the back of the neck and upper spine, providing a sense of relaxation and well-being. This sensation is triggered by specific auditory or visual stimuli, which can vary widely among individuals.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The review identified whispering, personal attention, tapping, and natural sounds as among the most common and effective triggers. It highlights that while ASMR is experienced similarly by many, the specific triggers and intensity of the response can be highly individualized.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            “We worked out that ASMR is a clearly outlined phenomenon that is experienced and described by many people in a very similar way,” Lohaus said. “Experienced viewers of ASMR content also don’t seem to be guided by expectancy effects.”
        </p>
    </div>
        
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The review also brought to light the development of specialized tools for assessing ASMR experiences: the ASMR-15 questionnaire and the ASMR Experience Questionnaire (AEQ). The ASMR-15 aims to quantify the ASMR experience through 15 items related to the sensory and emotional components of the phenomenon.
        </p>
    </div>     
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            On the other hand, the AEQ offers a more nuanced approach by assessing responses to several ASMR videos and including a body map to pinpoint where individuals experience the ASMR sensation. These tools represent a significant step forward in systematically studying ASMR, though they each have limitations that future research needs to address.
        </p>
    </div>
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Another important area explored by the review is the psychological and physiological correlates of ASMR. The phenomenon has been linked to various mental health outcomes, such as reduced stress and anxiety, as well as specific personality traits like high openness to experience and neuroticism. Furthermore, ASMR appears to affect cognitive outcomes, potentially improving short-term memory but possibly impairing executive functions due to the intense relaxation it induces.
        </p>
    </div>
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Neuroimaging studies reviewed suggest that ASMR triggers specific brain activity patterns associated with relaxation and stress relief. Physiological measurements have shown that ASMR can lead to reduced heart rate and blood pressure, indicating a state of deep relaxation.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            These findings suggest that ASMR could have therapeutic applications, potentially serving as a novel relaxation technique alongside established methods like mindfulness and yoga.
        </p>
    </div>   
        
        
    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The study sheds light on how retroactive inhibition affects language learning. However, it should be noted that the study was done on just a selection of words that were learned for the first time and temporally very close to the time of learning. Long-term effects of learning new languages might not be the same.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            “Still, it’s important to point out that we haven’t yet discovered a study that demonstrated long-term effects on mental health induced by ASMR,” Lohaus noted. “This will require future studies that look at the effects of ASMR videos over a longer period of time and compare them to watching control videos.""
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            While these findings provide a foundational understanding of ASMR, the review also sheds light on the limitations of current research. Many studies suffer from methodological constraints, such as small sample sizes and a lack of diversity among participants. This highlights the need for more rigorous and comprehensive research to validate these initial findings and explore the full spectrum of ASMR’s impact.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            Future studies are encouraged to delve deeper into the mechanisms behind ASMR, explore its potential therapeutic benefits, and examine how individual differences in personality or psychological state may influence ASMR experiences.
        </p>
    </div>

    <div>
        <button class="playButton">&#9658;</button>
        <p class="hoverable">
            The paper, “Autonomous Sensory Meridian Response (ASMR): A PRISMA-Guided Systematic Review,” was authored by Tobias Lohaus, Sarah C. Schreckenberg, Silja Bellingrath, and Patrizia Thoma.
        </p>
    </div>

    <!--Button for going back to homepage-->
    <!--Since this is the last article, there is no "Next Article" button-->
    <div class="row">
        <div class="col-md-6">
            <button class="back-to-home-button" onclick="window.location.href='../articles.html'">Back to Articles Homepage</button>
        </div>
    </div>

    <!--Include the footer using Flask-->
    {% include 'footer.html' %} 
    
</body>
</html>
