<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!--For Instagram icon-->
    <script src="https://kit.fontawesome.com/6188a4be33.js" crossorigin="anonymous"></script>

    <title>Homepage</title>
</head>
<body>
    <footer class="inline-block">
        <a href="https://www.instagram.com/cucogsci/"><i class="fab fa-instagram fa-2xl"></i></a>
        <a href="https://www.linkedin.com/company/cu-cogsci/about/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="mailto:cucogsciclub@gmail.com"><i class="fa-regular fa-envelope fa-2xl"></i></a>
        <p style="margin-top: -40px; padding-bottom: 30px;">&copy; 2024 CU CogSci Club. All rights reserved.</p>    
    </footer>

</body>
</html>